{% extends 'base.html' %}
{% block title %}
{% endblock %}


{% block body %}
{% include 'navbar.html' %}
<div id="root">
	<div class="container-fluid main ">
		<div class="navigate mb-3 mt-4">
			<a href="/" class="nav-link text-capitalize me-3 text-secondary">All</a>
			<a href="/" class="nav-link text-capitalize me-3 text-secondary">portfolio</a>
			<a href="/" class="nav-link text-capitalize me-3 text-secondary">cMS design</a>
		</div>
		<div class="root"></div>
	</div>
</div>
{% endblock %}